<template name="cogProjects">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>FooTable with row toggler, sorting and pagination</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Author</th>
                                <th class="text-center">Last Modified</th>
                                <th class="text-center">Date Created</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{> cogProjectLists files}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chat Box -->
    {{> projectcogChatMiniView}}
</template>

<template name="cogProjectLists">
    {{#each this}}
        {{>cogProjectElement}}
    {{/each}}
</template>

<template name="cogProjectElement">
    <tr>
        <td>{{name}}</td>
        <td>{{author}}</td>
        <td class="text-center">{{lastModified}}</td>
        <td class="text-center">{{dateCreated}}</td>
    </tr>
</template>