<template name="projectcogMainLayout">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> projectcogNavigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> projectcogTopNavbar }}

            <!-- Main view  -->
            {{>Template.dynamic template=content}}
            
            <!-- Footer -->
            {{> footer }}

        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
        {{> rightSidebar }}

    </div>
    <!-- End wrapper-->

</template>